:root {
    --bg-dark: oklch(0.92 0.025 264);
    --bg: oklch(0.96 0.025 264);
    --bg-light: oklch(1 0.025 264);
    --text: oklch(0.15 0.05 264);
    --text-muted: oklch(0.4 0.05 264);
    --highlight: oklch(1 0.05 264);
    --border: oklch(0.6 0.05 264);
    --border-muted: oklch(0.7 0.05 264);
    --primary: oklch(0.4 0.1 264);
    --secondary: oklch(0.4 0.1 84);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);


    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.25);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    padding: 2rem;
    box-shadow: var(--shadow-lg);
    position: relative;
    z-index: 1;
}

main {
    background-color: var(--bg-dark);
}
.book-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}