:root {
    --bg-dark: oklch(0.85 0.025 264);
    --bg: oklch(0.90 0.025 264);
    --bg-light: oklch(0.95 0.025 264);
    --text: oklch(0.15 0.05 264);
    --text-muted: oklch(0.4 0.05 264);
    --highlight: oklch(1 0.05 264);
    --border: oklch(0.6 0.05 264);
    --border-muted: oklch(0.7 0.05 264);
    --primary: oklch(0.4 0.1 264);
    --secondary: oklch(0.4 0.1 84);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);


    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.25);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.3);

    --shadow-lg-top: 0 -10px 15px -3px rgba(0, 0, 0, 0.25);
}

*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    padding: 2rem;
    box-shadow: var(--shadow-lg);
    z-index: 1;
    position: sticky;
    top: 0;
}

main {
    background-color: var(--bg-dark);
}

.book-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 0.3fr));
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    overflow: auto;

}

.card {
    border: 3px solid var(--border);
    background-color: var(--bg-light);
    /*text-align: center;*/
    min-height: 200px;
    padding: 1rem;
    border-radius: 10px;
    border-left: 8px solid var(--border);
    border-right: 8px solid var(--border);
    box-shadow: var(--shadow-md);

}

dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-muted);
}

.dl-row {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 1rem;


    padding-top: 1rem;
}

.dl-row + .dl-row {
    border-top: 1px solid var(--border-muted);
}

dt::after {
    content: ":";
}

h1, h2, dt {
    color: var(--text);
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    padding: 2rem;
    position: sticky;
    bottom: 0;
    box-shadow: var(--shadow-lg-top);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

button {
    padding: 0.6rem 1.8rem;
    border-radius: 40px;
    font-size: 1rem;
    border: none;
    box-shadow: var(--shadow-md);
}

button:hover {
    cursor: pointer;
}

button .add-book {
    background-color: oklch(0.5 0.05 160);
}
